<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css') }} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/styles.min.css') }}" />
    <script type="module" src="{{ url_for('static', filename='/assets/js/script.min.js') }}"></script>
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                    style="background-image: url(&quot;dogs/image3.jpeg&quot;);"><img
                                        src="{{ url_for('static', filename='/assets/img/logo.png') }}" width="456"
                                        height="458"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user" id="lgn_form">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email"
                                                id="log_email" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." name="email"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password"
                                                id="log_pwd" placeholder="Password" name="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit"
                                            id="login_btn">Login</button>
                                        <!-- <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2"
                                            role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a> -->
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small" href="{{url_for('forgotpassword')}}">Forgot
                                            Password?</a></div>
                                    <div class="text-center"><a class="small" href="{{url_for('register')}}">Create an
                                            Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>


    <script type="module">
        var firebaseConfig = {
            apiKey: "AIzaSyCftjIElJpUydY6s-7iXull3QA7rIAG868",
            authDomain: "medilocker-d8f29.firebaseapp.com",
            databaseURL: "https://medilocker-d8f29-default-rtdb.firebaseio.com",
            projectId: "medilocker-d8f29",
            storageBucket: "medilocker-d8f29.appspot.com",
            messagingSenderId: "952661337765",
            appId: "1:952661337765:web:7d3c1bad571d17dcfdcf4c"
        };

        firebase.initializeApp(firebaseConfig);

        function login() {
            var login_email = document.getElementById("log_email").value;
            var login_password = document.getElementById("log_pwd").value;

            // Sign in with email and password
            firebase.auth().signInWithEmailAndPassword(login_email, login_password)
                .then(function (userCredential) {
                    // User is signed in
                    var user = userCredential.user;
                    console.log("User logged in:", user);

                    // Redirect to the users page or any other page upon successful login
                    window.location.href = "{{ url_for('users') }}";
                })
                .catch(function (error) {
                    // Log the error to the console for debugging
                    console.error("Login error:", error);

                    // Handle errors
                    alert("Please enter valid email or password!");
                });
        }

        // Add event listener to the login form
        document.getElementById("lgn_form").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent form submission
            login(); // Call the login function
        });



    </script>
</body>

</html>